body {
  font: .9em/1.5em "微软雅黑", "宋体", consolas, verdana, arial, sans-serif;
  background-color: #FFF;
  color: black;
}

div { word-wrap: break-word }

body>table { table-layout:fixed;}

body>table>tbody>tr>td {
    /* overflow: auto; */
    overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
    border: 2px solid #ccc;width:33%;
    vertical-align: top;
    padding: 0.6em;
}

div.error {
     background-color: rgb(240,234,183);
     border: 1px solid rgb(230,224,173);
     margin-top: 10px;
     margin-bottom: 10px;
     padding: 5px 20px 5px 5px;
     font-size: 1.2em;
     position: relative;
}

ul{
  list-style-type: square;
}

a {
  color: #0055BB;
  text-decoration: none;
}

a:visited {
  color: #663399;
}

/* specify link and visited so the 'hover' style doesn't apply to
   other links, like those which are just NAME anchors. */
a:link:hover {
  text-decoration: underline;
  color: #8B0000; /* dark red */
}
a:visited:hover {
  text-decoration: underline;
  color: #8B0000; /* dark red */
}


