button {
    font: "微软雅黑", "宋体", consolas, verdana, arial, sans-serif;
    font-size: 14px;
}

.tabbrowser-tab#searchall > .tab-image-middle > .tab-icon > .tab-icon-image {
    list-style-image: url("chrome://searchall_debug/content/logo-small.png") !important;
}

