button {  max-height: none !important }

.engine-box {
    min-width: 15em;
    padding: 0 2em 0 2em;
}

#engine-bar {
    padding: 0.3em;
}

#search-box {
    max-width: 25em;
    min-width: 5em;
}

#statusbar-display {
    -moz-padding-start: 0px;
}

#status-progress {
    display: none;
}

.nav-button {
    font: "微软雅黑", "宋体", consolas, verdana, arial, sans-serif;
    font-size: 14px;
}

#results {
    padding-top: 0.1em;
}

.browser {
    padding: 0.2em;
    border-style: groove;
    border-color: grey;
    border-width: 1px;
}

.icon-button {
     font-size: 10px;
     border : 1px solid #eee;
}

tab {
    padding: 5px 1em 5px 1em;
}

/*
#navigator {
    margin-left: 270px;
    padding-right: 1em;
}
*/

/* XXX put the following into test.css */
#test {
    background-color: white;
    padding-left: 1em;
    padding-top: 0.5em;
}

